TouchPointService/WebContent/wsdl/TouchPointService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.jaxws.point.touch.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.jaxws.point.touch.com" xmlns:intf="http://service.jaxws.point.touch.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.jaxws.point.touch.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBranch">
    <complexType>
     <sequence>
      <element name="bankId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBranchResponse">
    <complexType>
     <sequence>
      <element name="getBranchReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBranchResponse">

      <wsdl:part element="impl:getBranchResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBranchRequest">

      <wsdl:part element="impl:getBranch" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TouchPointService">

      <wsdl:operation name="getBranch">

         <wsdl:input message="impl:getBranchRequest" name="getBranchRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBranchResponse" name="getBranchResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TouchPointServiceSoapBinding" type="impl:TouchPointService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBranch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBranchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBranchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TouchPointServiceService">

      <wsdl:port binding="impl:TouchPointServiceSoapBinding" name="TouchPointService">

         <wsdlsoap:address location="http://localhost:8080/TouchPointService/services/TouchPointService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
