WebServiceTest/WebContent/wsdl/TestSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.web.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.web.com" xmlns:intf="http://webservice.web.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.web.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="sayHelloWorld">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloWorldResponse">
    <complexType>
     <sequence>
      <element name="sayHelloWorldReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldRequest">

      <wsdl:part element="impl:sayHelloWorld" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldResponse">

      <wsdl:part element="impl:sayHelloWorldResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestSOAP">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorld">

         <wsdl:input message="impl:sayHelloWorldRequest" name="sayHelloWorldRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloWorldResponse" name="sayHelloWorldResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestSOAPSoapBinding" type="impl:TestSOAP">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorld">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestSOAPService">

      <wsdl:port binding="impl:TestSOAPSoapBinding" name="TestSOAP">

         <wsdlsoap:address location="http://localhost:8080/WebServiceTest/services/TestSOAP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
